/* You can add global styles to this file, and also import other style files */
html {
  background: #c6d3d4;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 20px 20px;
  background: #316d49;
  color: white;
  text-align: center;
  font-size: 3rem;
}
.container,
.addnewitem {
  padding: 0 1em;
}
ul li {
  list-style-type: none;
  background: #009688;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 7px;
  color: white;
}
input[type="checkbox"] {
  width: 30px;
  height: 15px;
  cursor: pointer;
}
ul input,
ul button {
  border: 1px;
  padding: 4px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}
.editsave,
.goback {
  color: white;
  float: right;
  background: #156b20;
}
.addnewitem button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #316d49;
  color: white;
  width: 22%;
}
.addnewitem input,
.addnewitem button {
  border: 1px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.addnewitem input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 75%;
}
@media only screen and (max-width:767px) {
  .addnewitem input {
    width: 66%;
  }
}
.subheader > span {
  color: #386f2e;
}
.subheader {
  font-size: 30px;
  line-height: 1.5;
}
.maincontent {
  margin: 4%;
}
.addnewitem {
  position: relative;
}
p#alertmsg {
  position: absolute;
  top: 30px;
  left: 3%;
  color: red;
  font-size: 20px;
}

/* 10/5/19*/

.navbar a,
.calculated-task button {
  text-decoration: none;
  color: #3f9788;
  background: white;
  padding: 10px 10px;
  font-size: 20px;
  margin-left: 1em;
  transition: 0.4s color ease-in, 0.4s background ease-out;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.calculated-task button {
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.navbar a.active,
.calculated-task button:focus {
  background: #3f9788;
  color: white;
  transition: 0.4s color ease-in, 0.4s background ease-out;
}

.routmenu {
  margin: 30px 0px;
}
button.editsave.notfloat,
.goback {
  float: none;
}
button.goback {
  border-radius: 5px;
}
.calculated-task {
  margin-bottom: 15px;
}
button.delete.editsave {
  background: red;
}
